[submodule "util/minlin"]
	path = util/minlin
	url = https://github.com/bcumming/minlin.git
[submodule "util/petscvector"]
	path = util/petscvector
	url = https://github.com/lukaspospisil/petscvector.git
[submodule "util/util/petscvector"]
	path = util/util/petscvector
	url = https://github.com/lukaspospisil/petscvector.git
